<div class="bg-white px-4">
    <div class="project-title d-flex px-3 py-3 border-bottom align-items-center bg-white mx-0">
        <div class="card-logo rounded d-flex align-items-center justify-content-center">
            <h5 class="text-white mb-0">F</h5>
        </div>
        <h3 class="mb-0 ps-4 text-dark fw-bold">Frontend</h3>
    </div>
</div>

<div class="project-details d-flex mt-4 mx-0 px-4">
    <!-- project-description-start -->
    <div class="project-description flex-grow-1 me-3">
        <div class="about-card p-4 bg-white shadow-sm rounded">
            <h5 class="text-dark">About this project</h5>
            <div class="d-flex align-items-center">
                <div class="details flex-grow-1">
                    <h6 class="text-dark">This project has no description yet</h6>
                    <p class="text-primary">Describing the project makes it easier for other people to understand it</p>
                </div>
                <figure class="d-flex justify-content-end mb-0">
                    <img src="../../../../assets/images/user-jump.svg" alt="person celebrate image">
                </figure>
            </div>
        </div>
     </div>
    <!-- project-description-end -->
    <div class="flex-shrink-0">
        <div class="project-statistics-card bg-white shadow-sm rounded p-4">
            <div class="stat-heading pb-4">
                <h5 class="tetx-dark">Project stats</h5>
            </div>
            <!-- statstic-details-start -->
            <div class="stat-details">
                <p>Boards</p>
                <div class="row gx-4 pb-4">
                    <div class="col-6">
                        <!-- stat-card-start -->
                        <div class="stat-card-body d-flex align-items-center">
                            <div class="stat-icon d-flex align-items-center justify-content-center">
                                <span class="icon-list"></span>
                            </div>
                            <div class="details ps-4">
                                <h6 class="count mb-0">1</h6>
                                <p class="description mb-0 text-primary">Work items created</p>
                            </div>
                        </div>
                        <!-- stat-card-end -->
                    </div>
                    <div class="col-6">
                        <!-- stat-card-start -->
                        <div class="stat-card-body d-flex align-items-center">
                            <div class="stat-icon d-flex align-items-center justify-content-center">
                                <span class="icon-bag"></span>
                            </div>
                            <div class="details ps-4">
                                <h6 class="count mb-0">1</h6>
                                <p class="description mb-0 text-primary">Work items created</p>
                            </div>
                        </div>
                        <!-- stat-card-end -->
                    </div>
                </div>
                <p>Repos</p>
                <div class="row g-1">
                    <div class="col-6">
                        <!-- stat-card-start -->
                        <div class="stat-card-body d-flex align-items-center">
                            <div class="stat-icon d-flex align-items-center justify-content-center">
                                <span class="icon-help-circle"></span>
                            </div>
                            <div class="details ps-4">
                                <h6 class="count mb-0">1</h6>
                                <p class="description mb-0 text-primary">Work items created</p>
                            </div>
                        </div>
                        <!-- stat-card-end -->
                    </div>
                    <div class="col-6">
                        <!-- stat-card-start -->
                        <div class="stat-card-body d-flex align-items-center">
                            <div class="stat-icon d-flex align-items-center justify-content-center">
                                <span class="icon-shopping-bag"></span>
                            </div>
                            <div class="details ps-4">
                                <h6 class="count mb-0">1</h6>
                                <p class="description mb-0 text-primary">Work items created</p>
                            </div>
                        </div>
                        <!-- stat-card-end -->
                    </div>
                </div>
            </div>
            <!-- statstic-details-end -->
        </div>
        <!-- list-of-member-start -->
        <div class="merber-list bg-white rounded shadow-sm mt-2 p-4">
            <h5 class="tetx-dark pb-3">Members <span class="bg-success">count</span></h5>
            <div class="members d-flex">
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle me-1">
                    <h5 class="text-white mb-0">F</h5>
                </div>                
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle me-1">
                    <h5 class="text-white mb-0">F</h5>
                </div>                
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle me-1">
                    <h5 class="text-white mb-0">F</h5>
                </div>                
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle me-1">
                    <h5 class="text-white mb-0">F</h5>
                </div>                
            </div>
        </div>
        <!-- list-of-member-end-->
    </div>
</div>