$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-edit: "\e911";
$icon-search: "\e904";
$icon-star: "\e91a";
$icon-bag: "\e900";
$icon-refresh: "\e912";
$icon-loop: "\e91c";
$icon-arrow-up: "\e909";
$icon-arrow-right: "\e90a";
$icon-arrow-left: "\e90b";
$icon-arrow-down: "\e90c";
$icon-full-screen: "\e90f";
$icon-close-fullscreen: "\e910";
$icon-settings-fill: "\e907";
$icon-graph: "\e903";
$icon-graphic-eq: "\e908";
$icon-minus-square: "\e913";
$icon-plus-square: "\e914";
$icon-arrow-right-circle: "\e915";
$icon-arrow-left-circle: "\e916";
$icon-plus-circle: "\e917";
$icon-filter: "\e918";
$icon-users: "\e919";
$icon-user: "\e905";
$icon-settings: "\e906";
$icon-help-circle: "\e901";
$icon-shopping-bag: "\e902";
$icon-dots: "\e91b";
$icon-plus: "\e90d";
$icon-list: "\e90e";

