$primary: #333333;
$secondary:#0067b5;
$danger: #ff4136;
$dark: #333333;
$light: #eaeaea;
$info:#cfcfcf;
$success:#f8f8f8;

//border-color
$border-color:$light;
$input-focus-border-color:none;
$input-border-color:$primary;

//custom color 
$filter-input-bg:#dfdfdf;