<header class="d-flex align-items-center justify-content-between border-bottom ">
    <!-- brand-title -->
    <h1 class="fs-6 mb-0 px-3"><span class="icon-settings-fill"></span> Project Mangement</h1>
    <!-- navigation-item-start -->
    <nav class="navbar navbar-expand-lg px-3">
        <!-- input-search-control -->
        <div class="input-group">
            <span class="input-group-text"><label for="global-search"><span
                        class="icon-search fs-6 text-primary"></span></label></span>
            <input type="text" id="global-search" class="form-control global-search-input fs-6" placeholder="Search"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <!-- header-nav-items-start -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="text-dark nav-icon icon-list"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="nav-icon icon-shopping-bag"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="nav-icon icon-help-circle"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="nav-icon icon-user"></span></a>
            </li>
            <li class="nav-item user-profile rounded-circle d-flex align-items-center justify-content-center">
                <a class="nav-link text-white fs-5" href="#">V</a>
            </li>
        </ul>
        <!-- header-nav-items-end -->
    </nav>
    <!-- navigation-item-end -->
</header>