<nav class="sidebar border-end flex-shrink-0 pt-3 h-100">
    <div class="project-title-wrapper px-2">
        <h6 class="fw-bold border-bottom pb-2"><span class="icon-list me-2"></span> Frontend</h6>
    </div>

    <ul class="navbar-nav overview-list bg-light">
        <li class="nav-item">
            <a routerLink="/1rivet/project/overview" class="nav-link px-2" routerLinkActive="active"><span
                    class="icon-list me-2"></span> Overview</a>
        </li>
        <li class="nav-item active">
            <a routerLink="/1rivet/project/summary" class="nav-link px-2" routerLinkActive="active"><span
                    class="icon-bag me-2"></span>Summary</a>
        </li>
        <li class="nav-item">
            <a routerLink="/1rivet/project/dashboard" class="nav-link px-2" routerLinkActive="active"><span
                    class="icon-user me-2"></span>Dashboard</a>
        </li>
        <li class="nav-item">
            <a routerLink="/1rivet/project/wiki" class="nav-link px-2" routerLinkActive="active">
                <span class="icon-help-circle me-2"></span>Wiki</a>
        </li>
    </ul>
    <ul class="navbar-nav overview-list">
        <li class="nav-item">
            <a routerLink="/1rivet/project/task" class="nav-link px-2" routerLinkActive="active"><span
                    class="icon-user me-2"></span>
                Board</a>
        </li>
        <li class="nav-item">
            <a routerLink="/1rivet/project/repo" class="nav-link px-2" routerLinkActive="active"><span
                    class="icon-settings me-2"></span>Repo</a>
        </li>
        <li class="nav-item">
            <a routerLink="/1rivet/project/pipelines" class="nav-link px-2" routerLinkActive="active"><span
                    class="icon-shopping-bag me-2"></span>Pipelines</a>
        </li>
    </ul>

</nav>