<div class="bg-white px-4 h-100">
    <div class="project-title d-flex py-1 border-bottom justify-content-between bg-white mx-0">
        <!-- dashboard-left-content-start -->
        <div class="left-content d-flex align-items-center nav-item">
            <a routerLink="/1rivet/project/overview" class="nav-link d-flex align-items-center"
                routerLinkActive="active">
                <h6 class="text-primary fw-normal mb-0">Frontend Team-Overview</h6><span
                    class="icon-arrow-down px-2 fs-5 d-block"></span>
            </a>
            <span class="icon-star px-2"></span>
            <a href="#" routerLinkActive="active" class="nav-link py-1 px-2"><span
                    class="icon-users pe-2 border-end"></span></a>
            <a href="#" routerLinkActive="active" class="nav-link py-1 px-2"><span
                    class="icon-edit me-2"></span>Edit</a>
            <a href="#" routerLinkActive="active" class="nav-link py-1 px-2"><span
                    class="icon-refresh me-2"></span>Refresh</a>
            <a href="#" routerLinkActive="active" class="nav-link py-1 px-2"><span class="icon-dots me-2"></span></a>
        </div>
        <!-- dashboard-left-content-end -->
        <!-- dashboard-right-content-start -->
        <div class="right-content d-flex align-items-center">
            <a href="#" routerLinkActive="active" class="nav-link pe-2"><span class="icon-settings"></span></a>
            <a href="#" routerLinkActive="active" class="nav-link p-0"><span class="icon-full-screen"></span></a>
        </div>
        <!-- dashboard-right-content-end -->
    </div>
    <div class="project-content pt-3">
        <div class="team-list-wrapper  col-sm-8 col-lg-6 col-xl-3  border p-3">
            <h6 class="fw-normal">Frontend Team(10 of 50)</h6>
            <div class="team-list d-flex w-100 flex-wrap">
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle m-1">
                    <h5 class="text-white mb-0">F</h5>
                </div>
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle m-1">
                    <h5 class="text-white mb-0">A</h5>
                </div>
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle m-1">
                    <h5 class="text-white mb-0">K</h5>
                </div>
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle m-1">
                    <h5 class="text-white mb-0">J</h5>
                </div>
                <div class="card-logo rounded d-flex align-items-center justify-content-center rounded-circle m-1">
                    <h5 class="text-white mb-0">B</h5>
                </div>
            </div>
        </div>
        <div class="user-active-task p-3 mt-3">
            <h6 class="fw-normal">Work assign to user</h6>
        </div>
    </div>
</div>